h1.MainHeader {
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding: 3%;
    margin: auto;
}

.MainDropBar {
    background-color: cornflowerblue;
    width: 40%;
    color: white;
    cursor: pointer;
    padding: 18px;
    margin: auto;
    border: 1px solid;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
}

    .active, .MainDropBar:hover {
        background-color: grey;
    }

    .MainDropBar:after {
        content: '\02C3';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\02C5";
}

.MainDropBlock {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    width: 42%;
    margin: auto;
}

.MainDropRows {
    width: 100%;
    border: 2px solid;
}

table {
    background-color: darkslateblue;
    color: white;
}

tbody {
    background-color: mediumpurple;
    color: white;
}

tr {
    padding: 12px 16px;
}


.progressbar {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: 40%;
    margin: auto;
    max-height: 20px;
    min-height: 10px;
}

    .progressbar > div.insideLeft {
        background-color: green;
        height: 20px;
        border-radius: 10px;
        text-align: center;
        color: green;
        display: inline-block;
    }

    .progressbar > div.insideRight {
        display: inline-block;
        color: black;
        background-color: black;
        text-align: center;
    }

h3.centeredTitles {
    text-align: center;
    margin: auto;
}

.incomeParameters {
    text-align: center;
    text-align-last: center;
    margin: auto;
    display: block;
    width: 40%;
    border-color: green;
    border-width: 2px;
}
.EstimatedBankAmount {
    text-align: center;
    text-align-last: center;
    margin: auto;
    display: block;
    width: 40%;
    border-color: green;
    border-width: 2px;
}

.formLabel {
    color: white;
    padding-bottom: 0;
    float: left;
    /*background-color:darkblue;*/
    border-radius: 20px;
    padding: 2px;
}
.formLabelInfo {
    color: white;
    padding-bottom: 0;
    float: left;
    padding: 2px;
    cursor: pointer;
}

    .incomeParameters > input {
        display: inline-block;
    }

    .incomeParameters > #DynamicButton {
        background-color: #28a745;
        border-radius: 5px;
        width: 50px;
        display: inline-block;
        padding: 2px;
        cursor: pointer;
    }

.formSpacing {
    padding-bottom: 15px;
}

.fadepage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.HidePage {
    background-color: black;
    opacity: 0.6;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
}

form:focus {
    position: relative; /* bring on top;*/
    box-shadow: 0 0 0 1600px rgba(0,0,0,0.65); /* dark around it */
}

.leftForm {
    display: inline-block;
    width: 80%;
    padding: 30px;
    border: thick;
    border-color: black;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.innerForm{
    width:20%;
    margin:auto;
}

.rightForm {
    width: 500px;
    display: inline-block;
    padding: 30px;
    border: thick;
    border-color: black;
    background-color: cornflowerblue;
    border-radius: 5px;
    top: 0;
    vertical-align: top;
}

.HoverForm {
    text-align: center;
    position: fixed;
    background-color: white;
    border: thick;
    border-color: black;
    border-radius: 5px;
    width: 80%;
    max-height: 90%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 20px;
    overflow-y: auto;
    /*overflow-x: hidden;*/
}

.dropAdditionPart {
    display: inline-block;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(44,108,128);
}

.horizontal-plus {
  position: relative;
  background-color: #FFFFFF;
  width: 50%;
  height: 12.5%;
  left: 25%;
  top: 43.75%;
}
.vertical-plus {
  position: relative;
  background-color: #FFFFFF;
  width: 12.5%;
  height: 50%;
  left: 43.75%;
  top: 12.5%;
}

.Plus {
    display: inline-block;
}
.PlusLeft {
    display: inline-block;
    background-color:navy;
    color:white;
    border-radius:15px;
    font-weight:bold;
    padding:4px;
    cursor:pointer;
}
.plusextra {
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.CancelButtons {
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

    .CancelButtons:hover {
        background-color: darkred;
    }
.AddButton {
    background-color: #62c462;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
}

    .AddButton:hover {
        background-color: green;
        color: white;
    }

.MainDropContent {
    background-color: mediumpurple;
    color: white;
    margin: auto;
    border: 1px solid;
    outline: none;
    font-size: 15px;
    text-align: center;
    max-height:600px;
}
.MainDropContentHeader {
    background-color: rebeccapurple;
    color: white;
    margin: auto;
    border: 1px solid;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
}
.MainDropContent1 {
    max-width: 23%;
    min-width: 20%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    overflow-wrap: break-word;
}
.MainDropBarTest {
    background-color: cornflowerblue;
    width: 60%;
    color: white;
    padding: 18px;
    margin: auto;
    border: 1px solid;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;

}
.MainDropBarArrowSide::after {
    content: '\02C3';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.MainDropBarArrowDown::after {
    content: "\02C5";
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.MainDropBarTest:after {
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
#HideGift, #HidePurchase, #HideBudget, #HideIncome {
    margin: auto;
    width:100%;
}
.HeaderTest{
    width:100%;
    cursor:pointer;
}
.maindropdown {
    border-radius: 5px;
    background-color: white;
    width: 150px;
    height: 30px;
}
.ClickableBudget:hover, .ClickablePurchase:hover, .ClickableIncome:hover, .ClickableGiftCard:hover, .ClickableBudgetType:hover, .ClickableJob:hover {
    cursor: pointer;
}
.HoverHistory:hover {
    cursor:alias;
}
.HoverHistoryBox {
    background-color:white;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .MainDropBarTest {
        background-color: cornflowerblue;
        width: 85%;
        color: white;
        padding: 18px;
        margin: auto;
        border: 1px solid;
        text-align: left;
        outline: none;
        font-size: 45px;
        text-align: center;
    }
    h1{
        font-size:60px;
    }
    .centeredTitles{
        font-size:45px;
    }
    .incomeParameters{
        font-size:35px;
    }
    .PlusLeft {
        display: inline-block;
        background-color: navy;
        color: white;
        border-radius: 15px;
        font-weight: bold;
        padding: 6px;
        cursor: pointer;
        font-size:30px;
    }
    .MainDropContent {
        background-color: mediumpurple;
        color: white;
        margin: auto;
        border: 1px solid;
        outline: none;
        font-size: 30px;
        text-align: center;
        max-height: 800px;
    }

    .MainDropContentHeader {
        background-color: rebeccapurple;
        color: white;
        margin: auto;
        border: 1px solid;
        text-align: left;
        outline: none;
        font-size: 15px;
        text-align: center;
    }

    .MainDropContent1 {
        max-width: 25%;
        min-width: 20%;
        padding: 5px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        cursor: default;
        max-height:inherit;
        overflow-wrap:break-word;
    }

    .leftForm {
        display: inline-block;
        width: 80%;
        padding: 30px;
        border: thick;
        border-color: black;
        background-color: cornflowerblue;
        border-radius: 5px;
    }

    .innerForm {
        width: 60%;
        margin: auto;
    }

    .rightForm {
        width: 500px;
        display: inline-block;
        padding: 30px;
        border: thick;
        border-color: black;
        background-color: cornflowerblue;
        border-radius: 20px;
        top: 0;
        vertical-align: top;
        font-size: 30px;
    }

    .HoverForm {
        text-align: center;
        position: fixed;
        background-color: white;
        border: thick;
        border-color: black;
        border-radius: 5px;
        width: 95%;
        max-height: 90%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        top: 20px;
        overflow-y: auto;
        font-size:30px;
    }
    button{
        font-size:30px;
    }
    .form-control{
        font-size:30px;
        width: 75%;
        height:40px;
    }
    .MainDropContent1 {
        font-size:30px;
    }
    
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}
    